@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&family=Mooli&family=Playfair+Display&family=Roboto:ital,wght@0,400;1,500&display=swap');

:root {
    --first: #213D83ec;
    --second: #6e98ba;
    --third: #a6c4e0;
    --forth: #c5d7ed;
    --fifth: #eaf1f7;
}
.bg-header {
    background: linear-gradient(to bottom, #fbcfe86b, rgba(110, 250, 17, 0));
}

.word-wrap {
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

body {
    @apply bg-stone-200;
    background: url()
}

h2 {
    @apply text-xl;
}

.active {
    @apply font-semibold text-sky-500 shadow-sky-800/20;
    
}

.montserrat {
    font-family: 'Montserrat', sans-serif;
}

.mooli {
    font-family: 'Mooli', sans-serif;
}
.playfair {
    font-family: 'Playfair Display', serif;
}
.roboto {
    font-family: 'Roboto', sans-serif;
}

.primary{
    color: var(--first);
}

.bg-primary{
    background-color: var(--first);
}
.secondary{
    color: var(--second);
}

.bg-secondary{
    background-color:var(--second);
}

.third{
    color: var(--third);
}

.bg-third{
    background-color: var(--third);
}
.forth{
    color: var(--forth);
}

.bg-forth{
    background-color: var(--forth);
}
.fifth{
    color: var(--fifth);
}

.bg-fifth{
    background-color: var(--fifth);
}

.reveal {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease, transform 0.5s ease;
  }
  
  .revealed {
    opacity: 1;
    transform: translateY(0);
  }